In [1]:
import saspy
import pandas as pd
import os
from IPython.display import HTML

In [2]:
os.system("E:\\Desktop\\old_date.bat")
sas=saspy.SASsession()
os.system("E:\\Desktop\\cur_date.bat")

Using SAS Config named: winlocal
SAS Connection established. Subprocess id is 3048

0

In [5]:
sas.saslib('miner', path=r"F:\utube\Courses data\SAS_EMiner\AAEM")

5                                                                                                                         Sistema SAS                                                                                                 17:31 Friday, July 8, 2016

33
34         libname miner    'F:\utube\Courses data\SAS_EMiner\AAEM'  ;
NOTE: El libref MINER se ha asignado correctamente:
      Motor:        V9
      Nombre f√≠sico: F:\utube\Courses data\SAS_EMiner\AAEM
35
36

In [26]:
df = sas.sd2df(table='cars',libref='sashelp')

In [7]:
df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,18,24,3880,115,197

In [11]:
df["Origin"].value_counts()

Asia      158
USA       147
Europe    123
Name: Origin, dtype: int64

In [18]:
mask1 = df["Origin"] == "Asia"
asia = df[mask1]
asia.head(3)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183

In [16]:
len(asia)

158

In [19]:
asia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 0 to 400
Data columns (total 15 columns):
Make           158 non-null object
Model          158 non-null object
Type           158 non-null object
Origin         158 non-null object
DriveTrain     158 non-null object
MSRP           158 non-null int64
Invoice        158 non-null int64
EngineSize     158 non-null float64
Cylinders      156 non-null float64
Horsepower     158 non-null int64
MPG_City       158 non-null int64
MPG_Highway    158 non-null int64
Weight         158 non-null int64
Wheelbase      158 non-null int64
Length         158 non-null int64
dtypes: float64(2), int64(8), object(5)
memory usage: 19.8+ KB

In [20]:
asia.head(3)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183

In [25]:
vars_to_keep = ["Make", "Model", "Type"]
df1 = asia[vars_to_keep]
df1["Make"].value_counts()

Toyota        28
Nissan        17
Honda         17
Mitsubishi    13
Hyundai       12
Mazda         11
Lexus         11
Subaru        11
Kia           11
Infiniti       8
Suzuki         8
Acura          7
Isuzu          2
Scion          2
Name: Make, dtype: int64

In [27]:
df.head(3)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,22,29,3230,105,183

In [29]:
df["Make"].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Volvo            12
Hyundai          12
Jaguar           12
Pontiac          11
Kia              11
Mazda            11
Subaru           11
Lexus            11
Buick             9
Mercury           9
Lincoln           9
Infiniti          8
GMC               8
Suzuki            8
Saturn            8
Cadillac          8
Saab              7
Acura             7
Porsche           7
Oldsmobile        3
Land Rover        3
Jeep              3
Isuzu             2
Scion             2
MINI              2
Hummer            1
Name: Make, dtype: int64

In [41]:
brands_to_lookup = ["Toyota", "Chevrolet", "Mercedes-Benz"]        
obs_to_get = df["Make"].isin(brands_to_lookup)
vars_to_keep = ["Make", "Origin", "Invoice"]
df1 = df[obs_to_get]
df2 = df1[vars_to_keep]
df2["Make"].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Name: Make, dtype: int64